<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top icon" src="assets/img/google-maps.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Map It +</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary"
        (click)="onNavigate($event, 'map-it')">
          Start Mapping
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top icon" src="assets/img/friends.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Find Friends</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">
          New Friends
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top icon" src="assets/img/profile.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Update your Profile</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">
          Profile
        </a>
      </div>
    </div>
  </div>
</div>
